.count_container {
    display: block;
    width: 15em;
}

.Counter_Container {
    display: flex;
    justify-content: center;
    margin: 0px;
    justify-content: space-between;
    width: 100%;
}

.Sumar {
    width: 3em;
    margin: 0px;
    height: 3em;
}

.Restar {
    width: 3em;
    margin: 0px;
    height: 3em;
}

.numero_producto {
    margin: 0px;
    display: grid;
    align-content: center;
}

p.Cantidad_Productos {
    background-color: #dfc298;
    color: black;
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
}

.agregar_al_carrito {
    width: 100%;
    height: 2em;
    background-color: #dfc298;
    border: none;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 1em;
    outline: none;
}

.agregar_al_carrito:hover {
    background-color: #b39c7c;
}

.count_display {
    display: flex;
    justify-content: center;
}


/* .Producto:hover .Foto_guitarra {
    padding: 1em;
    height: 10em;
    width: 5em;
    border-radius: 2em;
} */