.lista_de_productos {
    padding: 0em 2em;
    margin: 1em 1em 1em 1em;
    color: black;
    background-color: #dfc298;
    border-radius: 1em;
    display: flex;
}

.lista_de_productos_close {
    display: none
}