    @media screen and (max-width: 902px) {
        header {
            display: flex;
            justify-content: space-between;
        }
        svg.Carrito {
            margin: 1em;
            font-size: 1em;
        }
        div.logo_menu {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
        }
        .contenedor_instrumentos {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
        }
        .Container_listContainer {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .Nav_contenedor {
            display: none;
        }
        .contenedor_bar {
            margin: 0.7em 0.9em 0em 0em;
            display: block !important;
        }
        .contenedor_bar_close {
            display: none;
        }
        .bar_1 {
            background-color: #dfc298;
            color: transparent;
            width: 2em;
            margin-bottom: 0.3em;
            height: 0.3em;
            border-radius: 2em;
        }
        .bar_2 {
            background-color: #dfc298;
            color: transparent;
            width: 2em;
            margin-bottom: 0.3em;
            height: 0.3em;
            border-radius: 2em;
        }
        .bar_3 {
            background-color: #dfc298;
            width: 2em;
            color: transparent;
            margin-bottom: 0.3em;
            height: 0.3em;
            border-radius: 2em;
        }
        .x_1{
               background-color: #dfc298;
            color: transparent;
            width: 2em;
            margin-bottom: 0.3em;
            height: 0.3em;
            border-radius: 2em;
            transform:rotate(140deg);
            position: relative;
            top: 0.6em;
        }
         .x_2{
                background-color: transparent;
            color: transparent;
            width: 2em;
            margin-bottom: 0.3em;
            height: 0.3em;
            border-radius: 2em;
        }
         .x_3{
              background-color: #dfc298;
            width: 2em;
            color: transparent;
            margin-bottom: 0.3em;
            height: 0.3em;
            border-radius: 2em;
            transform:rotate(-140deg);
           position: relative;
           bottom: 0.6em;
        }
        svg.Carrito {
            margin: 12px;
            margin-right: 1em;
            font-size: 1.7em;
        }
        .contenedor_detail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            align-items: center;
            text-align: justify;
        }
        .Imagen_Detail {
            border: solid;
            padding: 1em;
            max-width: 10em;
        }
        .contenedor_imagen {
            display: flex;
            margin: 1em;
            width: min-content;
        }
        .Nombre_marca {
            color: white;
            margin: 4px;
            width: min-content;
        }
        a.Menu{
            font-size:2em;
        }
    }
    /* version escritorio para abajo */
    
    @media screen and (min-width: 767px) {
        .contenedor_detail {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-direction: row;
        }
    }
    
    body {
        margin: 0;
        background-color: rgb(36, 36, 36);
        font-family: 'Bebas Neue', cursive;
        font-size: 1.3em;
        color: #dfc298;
        background-size: cover;
        background-attachment: fixed;
    }
    
    header {
        background-color: black;
    }
    
    .contenedor_bar {
        display: none;
    }
    
    .titulo_instrumento {
        display: flex;
        justify-content: center;
    }