.video {
    height: max-content !important;
    width: max-content !important;
}

@media screen and (max-width: 902px) {
    body {
        background-color: #333 !important;
    }
    .PantallaCompletaClose {
        display: none;
    }
    .Pantallacompleta {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 241%;
        color: transparent;
        background-color: #0000006c;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    svg.Carrito {
        margin: 1em;
        font-size: 1em;
    }
    div.logo_menu {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }
    .contenedor_instrumentos {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .Container_listContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .Nav_contenedor {
        display: none;
    }
    .contenedor_bar {
        margin: 0.7em 0.9em 0em 0em;
        display: block !important;
    }
    .contenedor_bar_close {
        display: none;
    }
    .bar_1:after {
        background-color: #dfc298;
        color: transparent;
        width: 2em;
        margin-bottom: 0.3em;
        height: 0.3em;
        border-radius: 2em;
        transform: rotate(-140deg);
        position: relative;
        top: 0.6em;
    }
    .bar_1 {
        transition-duration: 2s;
        background-color: #dfc298;
        color: transparent;
        width: 2em;
        margin-bottom: 0.3em;
        height: 0.3em;
        border-radius: 2em;
    }
    .bar_2:after {
        background-color: transparent;
        color: transparent;
        width: 2em;
        margin-bottom: 0.3em;
        height: 0.3em;
        border-radius: 2em;
    }
    .bar_2 {
        transition-duration: 2s;
        background-color: #dfc298;
        color: transparent;
        width: 2em;
        margin-bottom: 0.3em;
        height: 0.3em;
        border-radius: 2em;
    }
    .bar_3:after {
        background-color: #dfc298;
        width: 2em;
        color: transparent;
        margin-bottom: 0.3em;
        height: 0.3em;
        border-radius: 2em;
        transform: rotate(140deg);
        position: relative;
        bottom: 0.6em;
    }
    .bar_3 {
        transition-duration: 2s;
        background-color: #dfc298;
        width: 2em;
        color: transparent;
        margin-bottom: 0.3em;
        height: 0.3em;
        border-radius: 2em;
    }
    .x_1 :after {
        background-color: #dfc298;
        color: transparent;
        width: 2em;
        margin-bottom: 0.3em;
        height: 0.3em;
        border-radius: 2em;
    }
    .x_1 {
        transition-duration: 2s;
        background-color: #dfc298;
        color: transparent;
        width: 2em;
        margin-bottom: 0.3em;
        height: 0.3em;
        border-radius: 2em;
        transform: rotate(140deg);
        position: relative;
        top: 0.6em;
    }
    .x_2:after {
        background-color: #dfc298;
        width: 2em;
        color: transparent;
        margin-bottom: 0.3em;
        height: 0.3em;
        border-radius: 2em;
        position: relative;
    }
    .x_2 {
        transition-duration: 1s;
        background-color: transparent;
        color: transparent;
        width: 2em;
        margin-bottom: 0.3em;
        height: 0.3em;
        border-radius: 2em;
    }
    .x_3:after {
        background-color: #dfc298;
        width: 2em;
        color: transparent;
        margin-bottom: 0.3em;
        height: 0.3em;
        border-radius: 2em;
    }
    .x_3 {
        transition-duration: 2s;
        background-color: #dfc298;
        width: 2em;
        color: transparent;
        margin-bottom: 0.3em;
        height: 0.3em;
        border-radius: 2em;
        transform: rotate(-140deg);
        position: relative;
        bottom: 0.6em;
    }
    svg.Carrito {
        margin: 12px;
        margin-right: 1em;
        font-size: 1.7em;
    }
    .contenedor_detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        align-items: center;
        text-align: justify;
    }
    .Imagen_Detail {
        max-width: 11em !important;
        border: solid;
        padding: 1em;
        max-width: 10em;
    }
    .contenedor_imagen {
        display: flex;
        margin: 1em;
        width: min-content;
    }
    .Nombre_marca {
        color: white;
        margin: 4px;
        width: min-content;
    }
    a.Menu {
        font-size: 2em;
    }
    p.titulo_home {
        margin: 0px;
        font-size: 2em;
        color: white;
    }
    p.parrafo_home {
        font-size: 1em;
    }
    div.ContenedorCarrito {
        font-size: 0.7em;
        margin: 0px;
    }
    .video {
        display: none;
    }
}


/* version escritorio para abajo */

@media screen and (min-width: 767px) {
    .contenedor_detail {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
    }
    /* button.sc-bdfBwQ.iLquPE.rec.rec-arrow.rec.rec-arrow-right {
                  display: none;
              }
              button.sc-bdfBwQ.iLquPE.rec.rec-arrow.rec.rec-arrow-left {
                  display: none;
              }  */
    /* button.sc-gKsewC.cJeRRR.rec.rec-dot.rec.rec-dot_active {
              background: transparent;
              box-shadow: none;
          }*/
}

body {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    background-color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3em;
    color: #dfc298;
    background-size: cover;
    background-attachment: fixed;
    height: 100%
}

header {
    background-color: black;
}

.contenedor_bar {
    display: none;
}

.titulo_instrumento {
    display: flex;
    justify-content: center;
}

button:focus {
    outline: none
}

.lgksPe {
    background-color: #dfc298 !important;
}